.dp-left-menu-item{
    display: unset !important;
}

.menu-item > a {
    font-size: 1em;
}

.dp-left-menu-item > a {
    color: #f5f5f5;
    text-align: left;
}
.dp-left-menu-item > a.menu-item-active, .dp-left-menu-item a:hover {
    color: #002BFF;
}

.dp-sub2 .dp-left-menu-item > a{
    text-indent:2em;
}
.site-description, .site-brand-container {
    display: none;
}

.sub-menu:not(.dp-left-menu){
    visibility: hidden;
    margin-top: -120px;
}
