.dp-left-menu-item{
    display: unset !important;
}

.menu-item > a {
    font-size: 1em;
}

.dp-left-menu-item > a {
    color: #f5f5f5;
    text-align: left;
}
.dp-left-menu-item > a.menu-item-active, .dp-left-menu-item a:hover {
    color: #002BFF;
}

.dp-sub2 .dp-left-menu-item > a{
    text-indent:2em;
}

.posts-expand .post-block:not(:first-child) {
    margin-top: 0px;
}

.posts-expand .post-block:not(:first-of-type) {
    margin-top: 120px;
}
